{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $choices := list "work" "home" "framework" -}}
{{- $machine_location := promptChoiceOnce . "machine_location" "Machine Location" $choices -}}
{{- $name := promptStringOnce . "name" "Name for Git commits" -}}
{{- $git_hub_username := promptStringOnce . "git_hub_username" "Your GitHub Username" -}}


[data]
    email = {{ $email | quote }}
    machine_location = {{ $machine_location | quote }}
    name = {{ $name | quote }}
    git_hub_username = {{ $git_hub_username | quote }}

[git]
    autoCommit = true
    autoPush = true
