[Desktop Entry]
Version=1.0
Name=Apple Music
Comment=Apple Music
Exec=omarchy-launch-webapp https://music.apple.com/ca/home
Terminal=false
Type=Application
Icon=/home/mparsons/.local/share/applications/icons/Apple Music.png
StartupNotify=true
